
<header>
  <!-- Sidebar -->

  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-blue" *ngIf="collapses">
    <div class="position-sticky">
<div class="photo">
  <img src="assets/image/user.png"  alt="srp video" >
</div>


      <div class="list-group list-group-flush mx-3 mt-4">



        <a routerLink="/admin:id" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple bg-blue">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a>
        <a routerLink="'/myspace/'+id" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple bg-blue ">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>My Space</span>
        </a>

        <a routerLink="/doctordetails" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple bg-blue"><i class="fa-solid fa-stethoscope"></i><span>Doctors List</span></a>
            <i class="bx bxs-chevron-down arrow"></i>


        <a routerLink="/patientview" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple bg-blue"><i class="fa-sharp fa-regular fa-hospital-user"></i>
          <span>Patient List</span>
        </a>

        <a  routerLink="/appointmentlist" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple bg-blue">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Appointment</span>
        </a>

      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light  fixed-top shadow mb-5 bg-white rounded" style="    height: 9%;
  margin-top: -1%;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <label >
        <!-- <a href="javascript:void(0);"  class="icon" (click)="collopse()">
          <i class="fa fa-bars"></i>
        </a> -->
        <a
          href="javascript:void(0);"
          class="icon"
          style="color: rgb(0, 0, 0);    margin-left: 245px;"
           *ngIf="!checkSidebar" (click)="collapseSidebar()" (click)="collopse()"
        >
        <!-- (click)="collopse()" -->
          <i class="fa fa-bars"></i>
        </a>
        <a
          href="javascript:void(0);"
          class="icon1"
          style="color: rgb(0, 0, 0);    margin-left: 245px;"
           *ngIf="checkSidebar" (click)="collapseSidebar1()" (click)="collopse()"
        >
        <!-- (click)="collopse()" -->
          <i class="fa fa-bars"></i>
        </a>

      </label>
              <!-- Toggle button -->


      <!-- Brand -->
      <div class="navbar-brand" >

        <!-- <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Admin</h3> -->

<h4 style="color: red;">*log in as </h4>
      </div>
      <div>
<h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Admin</h4>
</div>

      <!-- Right links -->
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">

        <!-- Notification dropdown -->
        <div class="dropdown">
          <button class="dropdown-toggle" (click)="toggleDropdown()">
            <img src="assets/image/re.png" alt="Logo" class="logo">
          </button>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen">
            <li><a  routerLink='/welcomepage'>LogOut</a></li>
          </ul>
        </div>






        <!-- Avatar -->

      </ul>
    </div>
    <!-- Container wrapper -->

  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->
<!-- <body>




   [ngClass]=" { 'content-expand': isMenuOpen, 'content-wrapper': !isMenuOpen }" -->
  <!--
    <div
      class="container-fluid1 bg-blue bluebar_expand"
      [ngClass]="{
        bluebar_expand: !isScrolled,
        bluebar_collapse: isScrolled
      }"
      #blueheader
    >
    <div class="row" >

      <div class="col-lg-8 text-white col-md-6 col-sm-6">


        <h2 style="padding-top: 50px; ">Welcome Harish</h2>

        <p>Cardiologist<br>



      </div>

      <div class="col-lg-4 col-md-6 col-sm-6" [ngClass]="{'menu-closed': !isMenuOpen}">



          <img src=".\assets\image\image12.jpg" class="head-video-cover" >

        </div>

   </div>

   </div> -->
   <!-- <div [ngClass]="{'content-expand': isMenuOpen, 'content-wrapper': !isMenuOpen}" >
   <div class="bluebar_expand" style="width:100%;margin-top: -3%;"

   [ngClass]="{

     'bluebar_expand': !isScrolled,

     'bluebar_collapse': isScrolled

   }"

   #blueheader>

  <div class="row" >

    <div class="col-lg-8 text-white col-md-6 col-sm-6">

       <h5 class="small-text" style="padding-top: 20px;">You are currently logged in via {{this.roleName}} login</h5> -->

      <!-- <h2 style="padding-top: 50px;">Welcome Dinesh</h2>

      <p>This is your personal profile.<br> -->

        <!-- Researgence creates a world of research for our subscribers by integrating all research data into the platform.  Take a tour de research of the portal by checking the demo video on the right! -->
      <!-- </p>

    </div>

    <div class="col-lg-4 col-md-6 col-sm-6" [ngClass]="{'menu-closed': !isMenuOpen}">



        <img src="assets/image/image13.webp" alt="srp video" class="head-video-cover" style="height: 65%;">

      </div>

  </div>
   </div>
    <br>
    <div class="row" style="margin-left: -15px;    margin-top: 20%;

    margin-right: -15px;">

      <div class="col-lg-12"  style="padding-top:18px; background-color: cornflowerblue;width: 21%;margin-left: 10%;">

        <div class="score_container " style="margin-top: 1.5%;">

            <div class="loop" *ngFor="let patient of Patient" style="width:33%">
                <a>

                  <div class="secondary_score">

                    <table style="width: 100%" width="100%">

                      <tr>

                        <td>{{patient.id}}</td>

                        <td class="text-bold">{{patient.id}}</td>

                      </tr>

                      <tr>

                        <td>{{patient.lineItem2Text}}</td>

                        <td class="text-bold">{{patient.lineItem2Count}}</td>

                      </tr>

                    </table>

                  </div>

                </a>



              </div>
          </div>
          </div>
      </div>
    </div> -->


  <!-- </body> -->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>
