<router-outlet></router-outlet>
<style>
    body {
    margin: 0;
    padding-top: 50%; /* Adjust this value to match the height of your fixed header */
  }
</style>
<!-- <div style="background-image: url('https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226__340.png');background-repeat: no-repeat;background-attachment: fixed; background-size: cover;"> -->

    <!-- <div class="row d-flex justify-content-center">
        <div class="col-lg-3" >

           <br>
           <img style=" margin-top: 150px;"src="https://thumbs.dreamstime.com/b/hotel-round-design-template-line-icon-concept-vector-welcome-hotel-service-round-design-template-line-icon-concept-travel-106200329.jpg"/>
           </div> -->
         <!-- <header>
           <nav class="navbar navbar-expand-sm navbar-da">
            <div class="header">
              <h3>JJ HOSPITAL</h3>
            </div>
            <ul class = "navbar-nav"> -->
                <!-- <button id="home"(click)="SignUp()"> <i  class="bi bi-person"></i>SignUp</button> -->
                <!-- <button id="home"(click)="SignIn()"><i class="btn btn-primary"></i>SignIn</button> -->
               <!-- <button id="home"(click)="customerSignUp()"> <i  class="bi bi-person"></i>User Login</button>
                <button id="home"(click)="contactUs()"> <i  class="fa fa-phone"></i>Contact us</button>
                <button id="home"(click)="aboutUs()"> <i  class="fa fa-phone"></i>About us</button>-->

            <!-- </ul>
        </nav>
      </header> -->
<header style="position: absolute;width: 100%;padding-top:0%;z-index: 999;">
  <nav class="navbar navbar-expand-sm navbar-da" style="background-color:rgba(255, 255, 255, 0); width: 100%;">
    <div class="container-fluid">
      <img src=".\assets\image\icon.png" style="overflow: hidden; transition: transform 0.3s ease;">
      <h2 >
<i class="icon"></i> A.K Hospital</h2>

       <ul class = "nav navbar-nav">
        <!-- <button (click)="appointment()"class="btn btn-secondary navbar-btn"><i class="bi bi-prescription2"></i>Appointment</button><br> -->

        <!-- <button class="btn btn-primary navbar-btn"  data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-user"></i>SignIn</button> -->

      </ul>

    </div>
  </nav>
</header>
<header style="position: absolute;width: 100%;padding-top:3%;z-index: 999;">
  <nav class="navbar navbar-expand-sm navbar-da" style="background-color:rgba(39, 46, 148, 0); width: 100%;">
    <div class="container-fluid">



       <ul class = "nav navbar-nav">
        <!-- <button (click)="appointment()"class="btn btn-secondary navbar-btn"><i class="bi bi-prescription2"></i>Appointment</button><br> -->

        <!-- <button class="btn btn-primary navbar-btn"  data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-user"></i>SignIn</button> -->
<li routerLink="/appointment"><a> Appointment</a></li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" >Health information</a>
  <div class="dropdown-menu">
    <ul>
      <li><a href="#">Cardiology</a></li>
      <li><a href="#">Orthodontist</a></li>
      <li><a href="#">Neurology</a></li>
      <li><a href="#">Urology</a></li>
    </ul>
  </div>
</li>
<li><a> contact us</a></li>

<button class="btn" style="margin-left: 59%;
margin-top: 0%;" (click)="appointment()">Register</button>
</ul>

    </div>
  </nav>
</header>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form goes here -->


          <form  #loginform="ngForm" (ngSubmit)="adminLogin()" (ngSubmit)="doctorLogin()" (ngSubmit)="patientlog()">
            <!-- {{registerform.form.valid}} -->
            <!-- 2 column grid layout with text inputs for the first and last names -->



                          <div class="form-outline mb-3">
                              <div class="form-outline">
                                  <input type="text" name="adminEmailId" class="form-control" placeholder="EmailId"  name="admin.adminEmailId" [(ngModel)]="admin.adminEmailId" [(ngModel)]="doctor.email" [(ngModel)]="patient.email" pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" #adminEmailId="ngModel"
                                     #email="ngModel" [class.is-invalid]="adminEmailId.invalid"/>
                             <!-- <small class="text-danger" [class.d-none]="firstname.valid||firstname.untouched">Required field</small> -->
                                     <div *ngIf="adminEmailId.errors ">
                                          <small class="text-danger" *ngIf="adminEmailId.errors?.['required']">required field</small>
                                           <small class="text-danger"*ngIf="adminEmailId.errors?.['pattern']">enter a valid email</small>
                                     </div>

                                     </div>
                                     </div>
                                    <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" name="adminPassword" class="form-control" placeholder="Password" [(ngModel)]="admin.adminPassword" [(ngModel)]="doctor.password" [(ngModel)]="patient.password" required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
             title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
            #adminPassword="ngModel" #password="ngModel"         [class.is-invalid]="adminPassword.invalid && adminPassword.touched"/>

            <!-- <small class="text-danger" [class.d-none]="password.valid||password.untouched">Required field</small> -->
            <div *ngIf="adminPassword.errors && (adminPassword.invalid && adminPassword.touched)">
              <small class="text-danger" *ngIf="adminPassword.errors?.['required']">password is required</small>
              <small class="text-danger"*ngIf="adminPassword.errors?.['pattern']">must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
            </div>
          </div>

            <!-- Submit button -->
            <button [disabled]="loginform.form.invalid"type="submit" class="btn btn-primary btn-block mb-4">
             LogIn
            </button>
            <div style="text-align: right;">
            <a routerLink="/signup"  routerLinkActive="active" class="nav-link" ><b style="color:mediumblue">Don't hava an account</b> <b style="color: red;">Signup now</b></a></div>

          </form>


      </div>
    </div>
  </div>
</div>

<body>

  <div class="parent-container">
    <div class="element-to-appear-above-slides">
      <div class="content">


        <form  #loginform="ngForm" (ngSubmit)="adminLogin()" (ngSubmit)="doctorLogin()" (ngSubmit)="patientlog()">
          <div class="row">
            <div class="form-group" style="float: left; width: 50%">
              <input
                style="color: #f0f1f5"
                class="form-control"
                placeholder="Username"

                name="admin.adminEmailId"
                [(ngModel)]="admin.adminEmailId" [(ngModel)]="doctor.email" [(ngModel)]="patient.email" pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" #adminEmailId="ngModel"
                type="email"
                required
              />
            </div>

            <div class="form-group" style="width: 50%">
              <input
                class="form-control"
                placeholder="Password"
                type="password"
                name="adminPassword"
                 [(ngModel)]="admin.adminPassword" [(ngModel)]="doctor.password" [(ngModel)]="patient.password" required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
               #adminPassword="ngModel" #password="ngModel"         [class.is-invalid]="adminPassword.invalid && adminPassword.touched"
                required
                style="color: #f0f1f5"
                style="margin-left: 126px"
              />
            </div>
          </div>

          <div class="form-group">
            <button
              class="btn btn-primary btn-block mb-6"
              [disabled]="loginform.form.invalid"
              type="submit" onclick="startSchedule()"
            >
              <span>Login</span>
            </button>
          </div>


          <!-- <div class="form-group1">
            <button class="btn"  (click)="SignUp()">Sign up</button>
          </div> -->

        </form>

      </div>
    </div>
  </div>

  <div class="container">


        <div class="row-box">
          <p>CARDIO</p>
        </div>


        <div class="row-box">
          <p>NEURO</p>
        </div>


        <div class="row-box">
          <p>ORTHO</p>
        </div>


        <div class="row-box">
          <p>NEPHRO</p>
        </div>

        <div class="row-box">
          <p>UROLOGY</p>
        </div>


    </div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function startSchedule() {
      $.post('/schedule/start', function (response) {
          console.log(response);
      });
  }
</script>

</body>
<footer>
  <p class="s">2023 &#169; AK Research & Institute</p>
</footer>

