h2,h4{

margin-right: 48%;
    font-family: sans-serif;
    color:#fff;
}

      /* img {
        vertical-align: middle;
      } */


selection{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
section:nth-child(1){
  color: rgb(253, 253, 253);
background-color: black;


}
section:nth-child(2){
  color: black;
  background: whitesmoke;

}
section:nth-child(3){
  color: rgb(255, 255, 255);
  background: gray;

}
section:nth-child(4){
  color: black;
  background: whitesmoke;

}
section:nth-child(5){
  color: rgb(255, 255, 255);
  background: gray;

}
section:nth-child(6){
  color: black;
  background: whitesmoke;

}
section:nth-child(7){
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);

}
/*
section.container{
  margin: 100px;
}
section h3{
text-align: center;

}
section .cards .text-card{
  margin: 20px;
  padding: 20px;
}*/
.reveal{
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: all 1s ease;
}
.reveal .active{

  transform: translateX(10px);
  opacity: 1;
}
.

.row-lg-3{
  width: 100%;
  overflow: hidden;
  animation: scroll-left 2s ;
}
.row-lg-3{
   display: inline-block;

  animation: scroll-left 2s ;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

}
img{
  max-width: 265px;
  float: left;
  width: 200px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  transition: transform 0.s ease;
}
.slideshow-container {
  position: relative;
  width: 100%;
  height: 300px; /* Set the desired height of the slideshow */
}

.slideshow-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slideshow-item:first-child {
  display: block;
}


.col-lg-4{
margin-left: 1257px;
}


.content {
  margin-top: 31%;
  padding-left: 37%;
}


input.form-control {
  border-radius: 2.5rem;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 121%;
  background: transparent;
  color: #fff;
}
.btn {
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 90px;
  font-weight: bold;
  padding-bottom: 11px;
  margin-left: -47px;
  position: absolute;
  margin-top: 10px;
  background-size: 0% 100%, 100% 100%;
  background-position: 100% 0%, 0% 0%;
  background-image: linear-gradient(
    to right,
    #2e6b95 0%,
    #2e6b95 51%,
    #025775 100%
  );
  margin-top: 21px;
  padding-right: 52px;
  padding-left: -27px;
  text-align: center;
  font-size: 17px;
}
span {
  color: #f5eeee;
  margin-right: 0rem;
  text-align: center;
  padding-left: 17px;
  font-size: 18px;
}

.footer {
  margin-top: -396px;
  position: relative;
  text-align: center;
  background-color: none;
}
.btn:hover {
  background-size: 100% 100%, 100% 100%;
  background-position: 0% 0%, 0% 0%;
}

.parent-container {
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 11%;
  width: 50%;
  color: #fff;
}

input.form-control {
  width: 70%;
}
.form-group1 {
  margin-left: 177px;
  margin-bottom: 3px;
  margin-top: 50px;
}
* a {
  color: #f0f1f5;
  text-decoration: none;
  font-size: 14px;
}
.logo {
  margin-top: -140px;
  float: right;
  margin-right: -599px;
}
body {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.unilogo {
  margin-left: -11px;
  margin-bottom: 20px;
}
hr {
  width: 133px;
}
input.form-control {
  width: 140%;
}
element.style {
  color: #f0f1f5;
}

.slideshow-container {
  margin-top: -15px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  filter: brightness(0.4);
}
.s {
  margin-left: 50%;
  bottom: 0;
  z-index: 3;
  margin-top: 200px;
}
ul li{
  padding: 10px 30px;

}
ul{
  margin-left: 32%;
}
body{
  background-attachment: fixed;
  background-image: url('image21.jpg');
  background-size: cover;
}

.dropdown:hover .dropdown-menu {
  display: block;
  cursor: pointer;
}

/* Style the dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute; /* Position the dropdown absolutely */
  background-color: #f8f9fa; /* Change to desired background color */
  width: 100%; /* Let the background span the full width */
  min-height: auto; /* Let the height expand based on content */
}

/* Style the links within the dropdown menu */
.dropdown-menu a {
  color: #333; /* Change to desired text color */
  text-decoration: none;
  align-items: center;
  display: block; /* Ensure links take the full width of the dropdown */
  padding: 10px; /* Add padding for better spacing */
}

/* Style the links on hover */
.dropdown-menu a:hover {
  background-color: #ccc; /* Change to desired hover background color */
  color: #fff; /* Change to desired hover text color */
}
/* In this updated CSS code, the min-width and min-height properties are set to "auto" for the .dropdown-menu class. This will allow the background to expand based on the content's width and height. Additionally, I've added some padding and adjusted the link display properties for better spacing and appearance.

Remember to adjust the padding and other values according to your design preferences. */






.row-box{
  width: 200px;
  height: 150px;
color: #f0f1f5;
  margin-bottom: 2%;
  border-radius: 20px;
margin: 10px;
  font-size: 20px;
  text-align: center;
  line-height: -30px;
cursor: pointer;



}
.row-box:hover{
  background-color: gray;
}
.container{
  width: 100%;
  height: auto;
  display: flex;
  margin-left: 21%;
  margin-top: -5%;
}
