



<div class="overlay">
<div class="table-responsive">
  <button class="close-button" (click)="closepopup()">X</button>
  <table class="table color-bordered-table theme-bordered-table">
      <thead>
          <tr>
              <th>Appointment Id</th>
              <th>Age</th>
              <th>DOA</th>
              <th>Disease</th>
              <th>ID</th>


          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let appointment of Appointment;">
              <td>{{appointment.id}}</td>
              <td>{{appointment.age}}</td>
              <td>{{appointment.dates}}</td>
              <td>{{appointment.disease}}</td>
              <td>{{appointment.id}}</td>

              <td >


                  </td>

          </tr>

      </tbody>
  </table>
</div>


</div>







